<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menú de Café</title>
        <link rel="stylesheet" href="../css/carta.css">
    </head>
    <body>
        <header>
            <div class="container-logo">
                <h1 class="logo">Kuro Menu</h1>
            </div>
            
            <!-- Navbar -->
<nav class="container-navbar">
         
             <ul class="menu">
              <li><a href="../../index.html#home">Inicio</a></li>
              <li><a href="#about">Nosotros</a></li>
              <li><a href="../view/blogs.html">Blogs</a></li>
              <li><a href="../../index.html#review">Reseñas</a></li>
              <li><a href="../../index.html#contacto">Contactanos</a></li>
             </ul>
</nav>
            
    <div class="menu-container">
 <h2>Café</h2>
 <ul>
    <li>Espresso</li>
    <li>Doppio (Doble Espresso)</li>
    <li>Americano (Doble Espresso + Agua) </li>
    <li>Cortado (Americano + Leche)</li>
    <li>Capuchino (Espresso + Leche)</li>
    <li>Flatwhite (2 Espresso + Leche)</li>
    <li>Latte (Espresso + Leche)</li>
    <li>Latte saborizado (Avellanas, Vainilla, Caramelo y Mocca)</li>
    <li>Macchiato</li>
    <li>Mocca</li>
</ul>
<br>
<h2>Filtrados</h2>
<ul>
    <li>Chemex</li>
    <li>V 60</li>
    <li>Prensa Francesa</li>
</ul>
    <br>
<h2>Cafés Fríos</h2>
  <ul>
    <li>Iced Americano</li>
    <li>Cold Brew (Opción saborizado)</li>
    <li>Iced Latte</li>
    <li>Iced Flat White</li>
    <li>Frapuccino</li>
    <li>Frapuccino Caramel</li>
  </ul>
<br>
<h2>Té</h2>
  <ul>
    <li>Té Negro</li>
    <li>Té Red Roses (Té rojo + Hibiscus)</li>
    <li>Té Verde</li>
        </ul>
        <br>
        <h2>Bebidas</h2>
        <ul>
    <li>Submarino o Chocolatada</li>
    <li>Agua (sin gas / con gas)</li>
    <li>Exprimido de Naranja</li>
    <li>Limonada (Limonada, menta y jengibre)</li>
    <li>Gaseosas</li>
    <li>Licuado con agua</li>
    <li>Licuado con leche</li>
        </ul>
    </div>
 </header>
</body>
</html>